<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Build the city</title>

        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet">
        <link href="styles.css" rel="stylesheet">
        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.js"></script>
        <script src="scripts.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <style>

            .right {
                text-align: right;
            }
        </style>


    </head>

    <body ng-controller="ReferendumController">

        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img alt="Brand" src="...">
                    </a>


                </div>
            </div>
        </nav> 
        <div class="container">
            <div class="row">
                <button type="button" class="btn btn-primary btn-lg col-md-12"  data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-plus-sign" ></i> Add a suggestion for your city!</button>
            </div>
            <br/>
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="panel panel-default" ng-repeat="idea in ideas">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <div class="row">
                                    <div class="col-xs-6 col-md-8">{{idea.name}}</div>
                                    <div class="col-xs-6 col-md-4 right">{{idea.yesVotes}} <i class="glyphicon glyphicon-thumbs-up" ng-click="idea.yesVotes = idea.yesVotes + 1"></i >&nbsp;&nbsp;&nbsp;&nbsp;{{idea.noVotes}} <i class="glyphicon glyphicon-thumbs-down " ng-click="idea.noVotes = idea.noVotes + 1"></i> &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-facebook-official fa-lg"></i></div>
                                </div>
                            </h3>
                        </div>
                        <div class="panel-body">

                            {{idea.description}}
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-4">
                    <div class="alert alert-success" role="alert">
                        <a href="#" class="alert-link">Successfully implemented ideas</a>
                    </div>
                    <h4></h4>
                    <div class="panel panel-default" ng-repeat="idea in successIdeas">
                        <div class="panel-heading ">
                            <h3 class="panel-title">
                                <div class="row">
                                    <div class="col-xs-12">{{idea.name}}
                                    <i class="fa fa-check fa-lg pull-right"></i>

                                    </div>

                                </div>
                            </h3>
                        </div>
                        <div class="panel-body">

                            {{idea.description}}
                        </div>
                    </div>
                </div>
            </div>


        </div>

        
            <footer class="footer">
                <div class="container">
                    <p class="text-muted"><h4>Let's make the civic spirit cool again. <b>Be the change we all need!</b> &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-facebook-official fa-lg"></i></h4></p>
                </div>
            </footer>
        
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">New idea for your city</h4>
                    </div>
                    <div class="modal-body">
                        <p>Give your idea a nema</p><input type="text" class=" text" ng-model="newIdeaName">
                        <p>Describe your awesome idea</p><textarea class="area" ng-model="newIdeaDesc"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addIdea()"><i class="glyphicon glyphicon-plus-sign" ></i> Add</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

